* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1976d2;
    --secondary-color: #81d4fa;
    --tertiary-color: #fff176;
    --quaternary-color: #e0e0e0;
    --quinary-color: #424242 ;
    --senary-color: #212121;
}
  
html {
    scroll-padding: 150px;
}

body {
    background-color: var(--quaternary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;

}

header {
    padding: 20px 25px;  
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 2.5px solid black;
}

h1 {
    display: inline;
    text-shadow: 1.5px 1px var(--senary-color);
}

/* footer {
    padding: 20px 25px;  
    background-color: var(--primary-color);
     width: 100%;
    padding: 40px 35px; 
    text-align: center;
    border-top: 2px solid black;
}  */

.nav-wrapper {
    background-color: var(--primary-color);
    border: none;
}

.nav-wrapper ul li a {
    font-size: 18px;
    text-shadow: 1.5px 1px var(--senary-color);
}

/* Stock search styling  */
.stock-search-card {

}

/* Stock info styling */
#stock-info {
    background-image: url("../images/stockimage.jpeg")
}

#stock-info h3, h5 {
    color: honeydew;
}

.list-item span:nth-child(odd){
    background-color:red}

.list-item span:nth-child(even){
    background-color: green}

/* Styling for news cards */
.card-title{
    color: var(--senary-color);
}

.card-content{
    color: var(--senary-color);
}

#footer {
    padding: 5px 10px;  
    background-color: var(--primary-color);
    border-top: 2.5px solid black;
}

#footer h5 {
    /* display: inline; */
    text-shadow: 1.5px 1px var(--senary-color);
}

#footer ul li a, #footer p{
    font-size: 16px;
    text-shadow: 1px 1px var(--senary-color);
}

.footer-copyright {
    text-align: center;
}